.App {
  text-align: center;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: #050f1c;
}

.Navbar-items{
  background: #050f1c;
  animation: glow 1s ease-in-out infinite alternate;
}

.Section {
  color: rgb(116, 230, 243);
  animation: glow 1s ease-in-out infinite alternate, fadeInRight 1s ease-in-out;
  text-align: left;
  padding-left: 1%;
}

.SectionContact {
  color: rgb(116, 230, 243);
  animation: glow 1s ease-in-out infinite alternate;
  text-align: center;
  padding-left: 1%;
}

.Introduction {
  color: rgb(116, 230, 243);
  position: relative;
  justify-content: center;
  padding-bottom: 5%;
  animation: glow 1s ease-in-out infinite alternate, fadeInLeft 1s ease-in-out;
}

.Subheading {
  text-align: left;
  color: rgb(116, 230, 243);
  position: relative;
  padding-top: 3%;
  padding-bottom: 2%;
  animation: glow 1s ease-in-out infinite alternate;
}

.NavImage {
  position: relative;
  justify-content: center;
  width: 30px;
  height: 30px;
  animation: image-glow 1s ease-in-out infinite alternate;
  background-color: transparent;
  box-shadow: 0 0 5px rgba(116, 230, 243, 0); /* Invisible shadow */
}

.Image {
  position: relative;
  justify-content: center;
  width: 300px;
  animation: fadeInRight 1s;
}

.Image-mobile {
  position: relative;
  justify-content: center;
  width: 200px;
  padding-top: 10%;
  animation: fadeInRight 1s;
}

.AboutHolder {
  display: flex;
  align-items: center;
  padding-top: 35%;
  padding-bottom: 0%;
}

.AboutHolder-mobile {
  padding-top: 50%;
  padding-bottom: 50%;
}

.AboutParagraph {
  position: relative;
  justify-content: center;
  color: rgb(116, 230, 243);
  text-align: left;
  margin-left: 1%;
  margin-right: 20%;
  animation: glow 1s ease-in-out infinite alternate;
}

.IconHolder {
  justify-content: center;
  text-align: left;
  width: 100%;
}

.ProjectHolder{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.Project {
  position: relative;
  justify-content: center;
  transition: all 0.3s;
  margin-top: 8%;
  margin-bottom: 10%;
  width: 30rem;
  margin-right: 40px;
  margin-left: 40px;
}

.Project:hover{
  transform: scale(1.1);
}

.ContactHolder{
  display: flex;
  justify-content: center;
}

.ContactParagraph {
  color: rgb(116, 230, 243);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

.glowing {
  animation: glow 1s ease-in-out infinite alternate;
}

.glowing-box {
  animation: image-glow 1s ease-in-out infinite alternate;
}

.no-glow {
  animation: none;
}

@keyframes glow {
  from{
    text-shadow: 0 0 20px #99c0f4;
  }
  to{
    text-shadow: 0 0 30px #99c0f4,
                0 0 10px #99c0f4;
  }
}

@keyframes image-glow {
  from{
    box-shadow: 0 0 20px #99c0f4;
  }
  to{
    box-shadow: 0 0 30px #99c0f4,
                0 0 10px #99c0f4;
  }
}

@keyframes barGlow {
  0% {
    stroke: rgba(116, 230, 243, 0.5);
    stroke-width: 2;
  }
  100% {
    stroke: rgba(116, 230, 243, 1);
    stroke-width: 4;
  }
}

.custom-toggler {
  border-color: rgb(116, 230, 243); /* Change border color of the toggle button */
  animation: glow 1s ease-in-out infinite alternate;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(116, 230, 243)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon .glow-bars {
  animation: barGlow 1s ease-in-out infinite alternate;
}

@keyframes fadeInRight {
  from {
    opacity: 0%;
    left: 10%;
  }
  to{
    opacity: 100%;
    left: 0%;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0%;
    right: 10%;
  }
  to{
    opacity: 100%;
    right: 0%;
  }
}
