.App {
  text-align: center;
  height: 100vh;
  background-color: black;
}

.AboutPage {
  z-index: 1; /* Ensure it appears above the night-sky */
  color: #FFFFFF; /* Set text color to make it visible */
  background: transparent;
  padding-top: 5%;
}


#nightSky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}
